<div class="min-h-screen p-8">
  <div class="container mx-auto max-w-4xl flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-6">My products</h1>
    @if (!shoppingCart()?.products?.length) {
    <div class="p-4 bg-gray-900 rounded-lg w-full max-w-2xl">
      <p class="text-center text-gray-400">Your cart is currently empty</p>
    </div>
    } @else {
    <div class="bg-[#0c141c] rounded-lg p-8 shadow-lg w-full">
      <div class="flex flex-col gap-8">
        <div class="grid gap-8 md:gap-4">
          @for (productItem of shoppingCart()?.products; track $index) {
          <shopping-carts-cart-item
            [productItem]="productItem"
            (newQuantity)="updateProductQuantity($event)"
            (productToRemoveFromCart)="getProductToRemoveFromCart($event)"
            (productRemovalConfirmation)="removeProductFromCart($event)"
          />
          }
        </div>

        <hr class="border-white" />

        <div
          class="flex flex-col md:flex-row gap-4 justify-between items-center"
        >
          <h2 class="text-2xl font-bold">
            Total: {{ shoppingCart()?.total | currency }}
          </h2>
          <button
            class="inline-flex border hover:bg-gray-50 hover:text-gray-900 items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-11 rounded-md px-8"
          >
            Proceed to payment
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
