<section
  class="min-h-screen grid grid-cols-1 md:grid-cols-[280px_1fr] gap-8 p-8 text-gray-50"
>
  <div class="flex flex-col gap-4 md:gap-8">
    <div class="space-y-2">
      <h2 class="text-lg font-semibold">Search</h2>

      <div>
        <shared-search-input
          (onSearch)="searchProduct($event)"
          label="product-search"
          styles="flex h-10 rounded-md border px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 w-full bg-gray-800 border-gray-700 text-gray-50 placeholder:text-gray-400"
        />
      </div>
    </div>

    <div class="space-y-2">
      <label class="text-lg font-semibold" for="filters">Filters</label>
      <select
        id="filters"
        class="py-3 px-4 pe-9 block w-full rounded-lg text-sm focus:border-cyan-800 disabled:opacity-50 disabled:pointer-events-none bg-gray-800 border-gray-700 focus:ring-cyan-800"
        (change)="applyFilter($event)"
      >
        <option disabled>Select a filter</option>
        @for (filter of filters(); track $index) {
        <option [value]="filter.sort">{{ filter.label }}</option>
        }
      </select>
    </div>

    <div class="space-y-2">
      <label class="text-lg font-semibold" for="categories">Categories</label>
      <select
        id="categories"
        class="py-3 px-4 pe-9 block w-full rounded-lg text-sm focus:border-cyan-800 disabled:opacity-50 disabled:pointer-events-none bg-gray-800 border-gray-700 focus:ring-cyan-800"
      >
        <option selected disabled>Select a category</option>
        @for (category of categories(); track $index) {
        <option>{{ category.name }}</option>
        }
      </select>
    </div>
  </div>

  <div class="space-y-8">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8"
      id="products-list"
    >
      @for (product of products(); track $index) {
      <products-product-card [product]="product" />
      }
    </div>

    <div class="flex items-center justify-center gap-2">
      <button
        (click)="updatePage(-1)"
        [disabled]="!paginationButtons().prev"
        type="button"
        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border shadow-sm disabled:opacity-50 disabled:pointer-events-none bg-neutral-900 border-neutral-700 hover:bg-neutral-800"
      >
        <svg
          class="flex-shrink-0 size-4"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m15 18-6-6 6-6" />
        </svg>
        Prev
      </button>

      <button
        (click)="updatePage(1)"
        [disabled]="!paginationButtons().next"
        type="button"
        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border shadow-sm disabled:opacity-50 disabled:pointer-events-none bg-neutral-900 border-neutral-700 hover:bg-neutral-800"
      >
        Next
        <svg
          class="flex-shrink-0 size-4"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m9 18 6-6-6-6" />
        </svg>
      </button>
    </div>
  </div>
</section>
