<footer class="md:m-2 m-4">
  <div class="w-full max-w-screen-xl mx-auto p-4">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a routerLink="" class="flex items-center mb-4 sm:mb-0 space-x-3">
        <img src="" class="h-10" alt="Tech-Trend Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap"
          >Tech-Trend</span
        >
      </a>
      <ul class="flex flex-wrap items-center text-sm font-medium text-gray-400">
        <li>
          <a routerLink="" class="hover:underline me-4 md:me-6">Home</a>
        </li>
        <li>
          <a routerLink="products" class="hover:underline me-4 md:me-6"
            >Products</a
          >
        </li>
        <li>
          <a
            href="https://github.com/Martinchx/Tech-TrendV2"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:underline me-4 md:me-6"
            >Project Code</a
          >
        </li>
        <li>
          <a routerLink="" class="hover:underline">FAQs</a>
        </li>
      </ul>
    </div>
    <hr class="my-4 sm:mx-auto border-gray-700" />
    <span class="block text-sm sm:text-center text-gray-400"
      >© 2024 <a routerLink="" class="hover:underline">Tech-Trend</a>. All
      Rights Reserved.</span
    >
  </div>
</footer>
