<section class="min-h-screen w-full max-w-md mx-auto p-6 text-white">
  <div
    class="mt-7 rounded-xl shadow-sm bg-neutral-900 border border-neutral-700"
  >
    <div class="p-4 sm:p-7">
      <div class="text-center">
        <h1 class="block text-2xl font-bold">Register</h1>
      </div>
      <div class="mt-5">
        <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
          <div class="grid gap-y-4">
            <div>
              <label
                for="fullname"
                class="block text-sm mb-2"
                [ngClass]="{
                  'text-red-500': isInvalidField('fullname') || errorMessage()
                }"
                >Fullname</label
              >
              <input
                type="text"
                id="fullname"
                name="fullname"
                formControlName="fullname"
                autocomplete="name"
                placeholder="John Doe"
                class="py-3 px-4 block w-full rounded-lg text-sm focus:border-blue-500 disabled:opacity-50 disabled:pointer-events-none bg-neutral-900 border border-neutral-700 text-neutral-400 placeholder-neutral-500 focus:ring-neutral-600"
                [ngClass]="{
                  'text-red-500 border-red-500':
                    isInvalidField('fullname') || errorMessage()
                }"
              />

              @if (isInvalidField('fullname')) {
              <span class="block mt-2 text-sm text-red-500">
                {{ getFieldError("fullname") }}
              </span>
              }
            </div>

            <div>
              <label
                for="address"
                class="block text-sm mb-2"
                [ngClass]="{
                  'text-red-500': isInvalidField('address') || errorMessage()
                }"
                >Address</label
              >
              <input
                type="text"
                id="address"
                name="address"
                formControlName="address"
                autocomplete="street-address"
                placeholder="Spain, Madrid"
                class="py-3 px-4 block w-full rounded-lg text-sm focus:border-blue-500 disabled:opacity-50 disabled:pointer-events-none bg-neutral-900 border border-neutral-700 text-neutral-400 placeholder-neutral-500 focus:ring-neutral-600"
                [ngClass]="{
                  'text-red-500 border-red-500':
                    isInvalidField('address') || errorMessage()
                }"
              />

              @if (isInvalidField('address')) {
              <span class="block mt-2 text-sm text-red-500">
                {{ getFieldError("address") }}
              </span>
              }
            </div>

            <div>
              <label
                for="email"
                class="block text-sm mb-2"
                [ngClass]="{
                  'text-red-500': isInvalidField('email') || errorMessage()
                }"
                >Email</label
              >
              <input
                type="email"
                id="email"
                name="email"
                formControlName="email"
                autocomplete="email"
                placeholder="johndoe@example.com"
                class="py-3 px-4 block w-full rounded-lg text-sm focus:border-blue-500 disabled:opacity-50 disabled:pointer-events-none bg-neutral-900 border border-neutral-700 text-neutral-400 placeholder-neutral-500 focus:ring-neutral-600"
                [ngClass]="{
                  'text-red-500 border-red-500':
                    isInvalidField('email') || errorMessage()
                }"
              />

              @if (isInvalidField('email')) {
              <span class="block mt-2 text-sm text-red-500">
                {{ getFieldError("email") }}
              </span>
              }
            </div>

            <div>
              <label
                for="password"
                class="block text-sm mb-2"
                [ngClass]="{
                  'text-red-500': isInvalidField('password') || errorMessage()
                }"
                >Password</label
              >
              <div class="relative">
                <input
                  type="password"
                  id="password"
                  name="password"
                  formControlName="password"
                  autocomplete="new-password"
                  placeholder="Enter password"
                  class="py-3 px-4 block w-full rounded-lg text-sm focus:border-blue-500 disabled:opacity-50 disabled:pointer-events-none bg-neutral-900 border border-neutral-700 text-neutral-400 placeholder-neutral-500 focus:ring-neutral-600"
                  [ngClass]="{
                    'text-red-500 border-red-500':
                      isInvalidField('password') || errorMessage()
                  }"
                />
                <button
                  type="button"
                  data-hs-toggle-password='{
        "target": "#password"
      }'
                  class="absolute top-0 end-0 p-4 rounded-e-md"
                >
                  <svg
                    class="flex-shrink-0 size-3.5 text-neutral-600"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path
                      class="hs-password-active:hidden"
                      d="M9.88 9.88a3 3 0 1 0 4.24 4.24"
                    ></path>
                    <path
                      class="hs-password-active:hidden"
                      d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"
                    ></path>
                    <path
                      class="hs-password-active:hidden"
                      d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"
                    ></path>
                    <line
                      class="hs-password-active:hidden"
                      x1="2"
                      x2="22"
                      y1="2"
                      y2="22"
                    ></line>
                    <path
                      class="hidden hs-password-active:block"
                      d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"
                    ></path>
                    <circle
                      class="hidden hs-password-active:block"
                      cx="12"
                      cy="12"
                      r="3"
                    ></circle>
                  </svg>
                </button>
              </div>

              @if (isInvalidField('password')) {
              <span class="block mt-2 text-sm text-red-500">
                {{ getFieldError("password") }}
              </span>
              }
            </div>

            <button
              [disabled]="registerForm.invalid || registerForm.disabled"
              type="submit"
              class="group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md bg-neutral-950 font-medium disabled:cursor-not-allowed disabled:bg-neutral-700"
              [ngClass]="{ 'bg-red-600': errorMessage() }"
            >
              @if (registerForm.valid && !errorMessage()) {
              <span
                class="absolute h-0 w-0 bg-blue-600 transition-all duration-300 group-hover:h-56 group-hover:w-full"
              ></span>
              }

              <span class="relative">Create account</span>
            </button>

            <div class="text-center">
              @if (errorMessage()) {
              <p class="text-red-500">{{ errorMessage() }}</p>
              }

              <p class="mt-2 text-sm text-neutral-400">
                Already have an account?
                <a
                  class="decoration-2 hover:underline font-medium text-blue-500"
                  [routerLink]="['../login']"
                >
                  Log in here
                </a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
