<section class="min-h-screen py-12 px-4 md:px-6 lg:px-8">
  <div class="max-w-5xl mx-auto grid md:grid-cols-2 gap-8 items-start">
    <div>
      <img
        [src]="currentProduct()?.image_url"
        [alt]="currentProduct()?.name"
        width="600"
        height="600"
        class="w-full rounded-lg"
        style="aspect-ratio: 600/600; object-fit: cover"
      />
    </div>
    <div class="grid gap-6">
      <div>
        <h1 class="text-3xl font-bold">{{ currentProduct()?.name }}</h1>
        <p class="text-gray-400 mt-2">
          {{ currentProduct()?.description }}
        </p>
      </div>
      <div class="grid gap-4">
        <div class="flex items-center justify-between">
          <span class="text-2xl font-bold">{{
            currentProduct()?.price | currency
          }}</span>
          <span class="text-green-500 font-medium">In Stock</span>
        </div>

        @if (productIdsInCart().includes(productId())) {

        <button
          [disabled]="processing()"
          (click)="removeProductFromCart()"
          class="group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md bg-neutral-950 font-medium disabled:cursor-not-allowed disabled:bg-neutral-700"
          [ngClass]="{ 'bg-red-600': errorMessage() }"
        >
          @if (!errorMessage() && !processing()) {
          <span
            class="absolute h-0 w-0 bg-neutral-900 transition-all duration-300 group-hover:h-56 group-hover:w-full"
          ></span>
          }
          <span class="relative flex gap-x-2 items-center"
            ><svg
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart-minus"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M4 19a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
              <path d="M12.5 17h-6.5v-14h-2" />
              <path d="M6 5l14 1l-1 7h-13" />
              <path d="M16 19h6" />
            </svg>
            Remove from Cart</span
          >
        </button>

        } @else {
        <form [formGroup]="quantityForm">
          <div
            class="py-2 px-3 rounded-lg bg-neutral-900 border-neutral-700"
            data-hs-input-number=""
            [ngClass]="{
              'border-red-500 border ':
                isInvalidField('quantity') || errorMessage()
            }"
          >
            <div class="w-full flex justify-between items-center gap-x-5">
              <div class="grow">
                <label
                  for="quantity"
                  class="block text-xs text-neutral-400"
                  [ngClass]="{
                    'text-red-500': isInvalidField('quantity') || errorMessage()
                  }"
                >
                  Quantity
                </label>
                <input
                  type="number"
                  id="quantity"
                  name="quantity"
                  formControlName="quantity"
                  class="w-full p-0 bg-transparent border-0 focus:ring-0 disabled:opacity-50 disabled:pointer-events-none disabled:text-neutral-400"
                  [ngClass]="{
                    'text-red-500': isInvalidField('quantity') || errorMessage()
                  }"
                  data-hs-input-number-input=""
                />
              </div>
              <div class="flex justify-end items-center gap-x-1.5">
                <button
                  [disabled]="quantityForm.disabled"
                  (click)="updateNumberFormValue('quantity', -1)"
                  type="button"
                  class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border shadow-sm disabled:opacity-50 disabled:pointer-events-none bg-neutral-900 border-neutral-700 text-white hover:bg-neutral-800"
                  data-hs-input-number-decrement=""
                >
                  <svg
                    class="flex-shrink-0 size-3.5"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M5 12h14"></path>
                  </svg>
                </button>
                <button
                  [disabled]="
                    this.quantityForm.controls['quantity'].value ===
                      currentProduct()?.stock || quantityForm.disabled
                  "
                  (click)="updateNumberFormValue('quantity', 1)"
                  type="button"
                  class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border shadow-sm disabled:opacity-50 disabled:pointer-events-none bg-neutral-900 border-neutral-700 text-white hover:bg-neutral-800"
                  data-hs-input-number-increment=""
                >
                  <svg
                    class="flex-shrink-0 size-3.5"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M5 12h14"></path>
                    <path d="M12 5v14"></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          @if (isInvalidField('quantity')) {
          <span class="block mt-2 text-sm text-red-500">
            {{ getFieldError("quantity") }}
          </span>
          }
        </form>

        <button
          [disabled]="quantityForm.invalid || processing()"
          (click)="addProductToCart()"
          class="group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md bg-neutral-950 font-medium disabled:cursor-not-allowed disabled:bg-neutral-700"
          [ngClass]="{ 'bg-red-600': errorMessage() }"
        >
          @if (quantityForm.valid && !errorMessage() && !processing()) {
          <span
            class="absolute h-0 w-0 bg-neutral-900 transition-all duration-300 group-hover:h-56 group-hover:w-full"
          ></span>
          }
          <span class="relative flex gap-x-2 items-center"
            ><svg
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart-plus"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M4 19a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
              <path d="M12.5 17h-6.5v-14h-2" />
              <path d="M6 5l14 1l-.86 6.017m-2.64 .983h-10.5" />
              <path d="M16 19h6" />
              <path d="M19 16v6" />
            </svg>
            Add to cart</span
          >
        </button>
        }
      </div>
    </div>
  </div>
</section>
