<section class="min-h-screen w-full max-w-md mx-auto p-6">
  <div
    class="mt-7 rounded-xl shadow-sm bg-neutral-900 border border-neutral-700"
  >
    <div class="p-4 sm:p-7">
      <div class="text-center">
        <h1 class="block text-2xl font-bold">Log in</h1>
      </div>
      <div class="mt-5">
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
          <div class="grid gap-y-4">
            <div>
              <label
                for="email"
                class="block text-sm mb-2"
                [ngClass]="{
                  'text-red-500': isInvalidField('email') || errorMessage()
                }"
                >Email</label
              >
              <input
                type="email"
                id="email"
                name="email"
                formControlName="email"
                autocomplete="email"
                class="py-3 px-4 block w-full rounded-lg text-sm focus:border-blue-500 disabled:opacity-50 disabled:pointer-events-none bg-neutral-900 border border-neutral-700 text-neutral-400 placeholder-neutral-500 focus:ring-neutral-600"
                [ngClass]="{
                  'text-red-500 border-red-500':
                    isInvalidField('email') || errorMessage()
                }"
              />

              @if (isInvalidField('email')) {
              <span class="block mt-2 text-sm text-red-500">
                {{ getFieldError("email") }}
              </span>
              }
            </div>

            <div>
              <label
                for="password"
                class="block text-sm mb-2"
                [ngClass]="{
                  'text-red-500': isInvalidField('password') || errorMessage()
                }"
                >Password</label
              >
              <input
                type="password"
                id="password"
                name="password"
                formControlName="password"
                autocomplete="current-password"
                class="py-3 px-4 block w-full rounded-lg text-sm focus:border-blue-500 disabled:opacity-50 disabled:pointer-events-none bg-neutral-900 border border-neutral-700 text-neutral-400 placeholder-neutral-500 focus:ring-neutral-600"
                [ngClass]="{
                  'text-red-500 border-red-500':
                    isInvalidField('password') || errorMessage()
                }"
              />

              @if (isInvalidField('password')) {
              <span class="block mt-2 text-sm text-red-500">
                {{ getFieldError("password") }}
              </span>
              }
            </div>

            <button
              [disabled]="loginForm.invalid"
              type="submit"
              class="group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md bg-neutral-950 font-medium disabled:cursor-not-allowed disabled:bg-neutral-700"
              [ngClass]="{ 'bg-red-600': errorMessage() }"
            >
              @if (loginForm.valid && !errorMessage()) {
              <span
                class="absolute h-0 w-0 bg-blue-600 transition-all duration-300 group-hover:h-56 group-hover:w-full"
              ></span>
              }

              <span class="relative">Log in</span>
            </button>

            <div class="text-center">
              @if (errorMessage()) {
              <p class="text-red-500">{{ errorMessage() }}</p>
              }

              <p class="mt-2 text-sm text-neutral-400">
                Don't have an account yet?
                <a
                  class="decoration-2 hover:underline font-medium text-blue-500"
                  [routerLink]="['../register']"
                >
                  Register here
                </a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
